// Component Variables
//–––––––––––––––––––––––––––––––––––––––––––––––––– 


// Alerts
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$alert-padding:                 1.5rem 2rem !default;

$alerts: (
    // name                     background                      font-color
    primary:                    lighten(color(primary), 30%)    $font-color,
    secondary:                  color(secondary)                $font-color,
    success:                    lighten(color(green), 35%)    $font-color,
    danger:                     lighten(color(red), 30%)      $font-color,
    warning:                    lighten(color(yellow), 35%)   $font-color,
    info:                       lighten(color(aqua), 15%)     $font-color
) !default;


// Tags
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tag-font-size:                 85% !default;
$tag-font-weight:               400 !default;
$tag-padding:                   .4em .45em !default;
$tag-anchor-transition:         background-color ease-in-out $animation-speed-fast, border-color ease-in-out $animation-speed-fast !default;

$tags: (
    // name                     background                      font-color
    white:                    color(white)                  color(black),
    black:                    color(black)                  color(white),
    primary:                    color(primary)                  color(white),
    secondary:                  color(secondary)                color(black)
) !default;
