// Component Variables
//–––––––––––––––––––––––––––––––––––––––––––––––––– 


// Alerts
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$alert-padding:                 1.5rem 2rem !default;

$alerts: (
    // name                     background                      font-color
    primary:                    lighten(color(primary), 30%)    $font-color,
    secondary:                  color(secondary)                $font-color,
    success:                    lighten(color(green), 35%)      $font-color,
    danger:                     lighten(color(red), 30%)        $font-color,
    warning:                    lighten(color(yellow), 35%)     $font-color,
    info:                       lighten(color(aqua), 15%)       $font-color
) !default;


// Checkboxes and Radios
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$checkbox-checked-color:        color(primary) !default;
$checkbox-font-weight:          400 !default;


// Input Groups
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$input-group-addon-y-padding:   1rem !default;


// Switches
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$switch-height:                 34px;
$switch-width:                  60px;
$switch-padding:                4px;
$switch-default-border-radius:  $global-radius;
$switch-background:             color(secondary);
$switch-background-on:          color(primary);
$switch-slider-background:      color(white);
$switch-slider-transition:      .3s;


// Tags
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tag-font-size:                 85% !default;
$tag-font-weight:               400 !default;
$tag-padding:                   .4em .45em !default;
$tag-anchor-transition:         background-color ease-in-out $animation-speed-fast, border-color ease-in-out $animation-speed-fast !default;

$tags: (
    // name                     background                      font-color
    white:                      color(white)                    color(black),
    black:                      color(black)                    color(white),
    primary:                    color(primary)                  color(white),
    secondary:                  color(secondary)                color(black)
) !default;


// Tooltips
//–––––––––––––––––––––––––––––––––––––––––––––––––– 

$tooltip-background:            rgba(color(black), .9) !default;
$tooltip-text-color:            color(white) !default;
$tooltip-font-size:             85% !default;
$tooltip-padding:               .5em 1em !default;
$tooltip-arrow-height:          6px !default;
$tooltip-distance:              6px !default;
$tooltip-transition:            all .18s ease-out .18s !default;

// add the zindex to your z-layers
$z-layers: map-merge((tooltip: 100 ), $z-layers);
