// Cards
//––––––––––––––––––––––––––––––––––––––––––––––––––


.card {
    border: $card-border;
    border-radius: $card-border-radius;
    display: flex;
    flex-direction: column;
    margin-bottom: $card-margin-bottom;
    position: relative;

    // make any image fluid
    img {
        @include img-fluid;
    }

    // apply a border radius to the image when at top of the card
    .card-img-top {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }

    // apply a border radius to the image when at bottom of the card
    .card-img-bottom {
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
    }

    // a card content area
    .card-content {
        padding: $card-content-padding;
    }

    // a card footer area for a varied padding
    .card-footer {
        padding: $card-footer-padding;
    }

    // in conjunction with .d-flex
    // use to force a section of the card to consume the remaining height
    .fill {
        flex: 1 1 auto;
    }
    
    // in conjunction with .relative
    // use to position over a relative parent
    .overlay {
        @include position(0, 0, 0, 0, absolute);
    }

}