// Checkboxes and Radios
//––––––––––––––––––––––––––––––––––––––––––––––––––


// list specific

ul.checkboxes,
ul.radios {
    list-style: none;

    li {
        margin-bottom: .5rem;
        position: relative;
    }
}

// shared styling

.checkbox,
ul.checkboxes,
ul.radios {
    margin-bottom: $input-margin-bottom;
    
    label {
        cursor: pointer;
        display: inline-block;
        font-weight: $checkbox-font-weight;
        margin-bottom: 0;
        padding: 0 4rem;
        position: relative;
    }

    label span {
        @include position($top: 0, $left: 0);
        background: $input-background;
        border: 1px solid $border-color;
        height: 25px;
        width: 25px;
    }

    input {
        position: absolute;
        visibility: hidden;
    }

    input + span:after {
        @include pseudo;
        opacity: 0;
    }

    input:checked + span:after {
        opacity: 1;
    }

    label:hover input:not(:checked):not(:disabled) + span:after {
        opacity: 0.5;
    }
    
    label input:disabled + span {
        cursor: not-allowed;
    }
}

// checkbox only styles

.checkbox,
ul.checkboxes {
    
    label span {
        border-radius: $global-radius;
    }

    input[type=checkbox] + span:after {
        @include position($top: 7px, $left: 5px);
        border: 3px solid $checkbox-checked-color;
        border-top: none;
        border-right: none;
        height: 7px;
        width: 13px;
        transform: rotate(-45deg);
    }
}

// radio only styles

ul.radios {
    
    label span {
        border-radius: 50%;
    }

    input[type=radio] + span:after {
        @include position(4px, 4px, 4px, 4px);
        background: $checkbox-checked-color;
        border-radius: 50%;
    }
}
