// Checkboxes and Radios
//––––––––––––––––––––––––––––––––––––––––––––––––––


// list specific

ul.checkboxes,
ul.radios {
    list-style: none;

    li {
        margin-bottom: .5rem;
        position: relative;
    }
}

// shared styling

.checkbox,
ul.checkboxes,
ul.radios {
    margin-bottom: $input-margin-bottom;
    
    input {
        position: absolute;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        display: inline-block;
        font-weight: $checkbox-font-weight;
        line-height: $checkbox-size;
        margin-bottom: 0;
        padding: 0 $checkbox-size * 1.5;
        position: relative;
    }

    label:before {
        @include pseudo;
        @include position($top: 0, $left: 0);
        background: $input-background;
        border: $border-width solid $border-color;
        height: $checkbox-size;
        width: $checkbox-size;
    }

    label:after {
        @include pseudo;
        opacity: 0;
    }

    input:checked~label:after {
        opacity: 1;
    }

    input:not(:checked):not(:disabled)~label:hover:after {
        opacity: 0.5;
    }
    
    input:disabled~label {
        cursor: not-allowed;
    }
}

// checkbox only styles

.checkbox,
ul.checkboxes {
    
    label:before {
        border-radius: $global-radius;
    }

    // this ensures the rotated tick stays in a good position relative to the size of the checkbox
    $tick-top: $checkbox-size *.3;
    $tick-left: $checkbox-size *.25;
    $tick-height: $checkbox-size * .3;
    $tick-width: $checkbox-size * .54;

    label:after {
        @include position($top: $tick-top, $left: $tick-left);
        border: $checkbox-tick-width solid $checkbox-checked-color;
        border-top: none;
        border-right: none;
        height: $tick-height;
        width: $tick-width;
        transform: rotate(-45deg);
    }
}

// radio only styles

ul.radios {
    
    label:before {
        border-radius: 50%;
    }

    $dot-size: $checkbox-size - ($radio-dot-spacing * 2);

    label:after {
        @include position($top: $radio-dot-spacing, $left: $radio-dot-spacing);
        background: $checkbox-checked-color;
        border-radius: 50%;
        height: $dot-size;
        width: $dot-size;
    }
}
