// Input Group
//––––––––––––––––––––––––––––––––––––––––––––––––––


.input-group {
    display: flex;

    > * {
        border-radius: 0!important;
        margin-bottom: 0!important;
    }

    > input,
    > select {
        flex: 1 1 auto;
        position: relative;
        width: 1%;
    }

    .input-group-addon {
        display: flex;
        padding: 0 $input-group-addon-y-padding;
        white-space: nowrap;
        align-items: center;
    }

    > *:first-child {
        border-top-left-radius: $global-radius!important;
        border-bottom-left-radius: $global-radius!important;
    }

    > *:last-child {
        border-top-right-radius: $global-radius!important;
        border-bottom-right-radius: $global-radius!important;
    }

}
